.register {
    height: 40px;
    width: 100px;
    background-color: teal;
    color: black;
    position: relative;
    /* left: 100px;
    top: 75px; */
}

.promo {
    position: absolute;
    background-color: yellow;
    padding: 2px 10px;
    color: black;
    border: 1px solid green;
    border-radius: 20%;
    rotate: 45deg;
    top: -5px;
    right: -25px;
}