p {
    color:blue;
}

.mobil {
    /* color: salmon */
    color: salmon;
}

#BMW {
    color:darkviolet;
}

#Toyota {
    /* color: rgb(red, green, blue) */
    color : #37AFE1;
    text-align:center
}

body {
    /* background-color: skyblue; */
    /* background: linear-gradient(90deg,skyblue,#4C4B16) */
    background: url(https://i.pinimg.com/originals/19/b2/8c/19b28c8372aaec65623f7ee7332e74be.gif);
    background-position: left top;
    background-size: 1280px 720px; 
}

.text {
    color: black;
    font-family: "Impact", Arial;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
}

.konten {
    background-color: teal;
    width: 100px;
    height: 100px;
    /* align-content: center; */
    padding: 10px;
    margin: 50px;
    border: 5px ridge black;
    border-radius: 20px;
    box-shadow: -0,5rem 0,5rem 1rem gray;
}

.konten:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.text::first-letter {
    font-size: 46px;
}

.text:hover::first-letter {
    color:red
}

.loren::first-line {
    color: black;
}
